.root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.life {
  margin: 30px;
  padding: 30px;
  position: relative;
}

.yearwrapper {
  position: relative;
  width: 420px;
}

.graphkey {
  position: absolute;
  font-size: 1.5rem;
  color: blue;
}

.graphkey.x {
  top: -10px;
  left: 30px;
}

.graphkey.y {
  transform: rotate(-90deg);
  -webkit-font-smoothing: antialiased;
  top: 50px;
  left: -60px;
}

.label {
  position: absolute;
  left: -30px;
  top: -3px;
  font-size: 12px;
  line-height: 12px;
}

.year {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.week {
  height: 5px;
  width: 5px;
  border: 1px solid black;
  background-color: transparent;
  margin: 1px;
}

.active--false {
  background-color: lightgrey;
}

.active--true {
  background-color: blue;
}

