.root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.birthdate-form {
  width: 420px;
  text-align: center;
  margin: 20px 0;
}

.birthdate-form label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  font-style: italic;
}

.birthdate-form input {
  border: 2px solid skyblue;
}

.birthdate-form input[type='submit'] {
  background: skyblue;
  color: #fff;
  border: none;
  height: 24px;
}

.life {
  margin: 30px;
  padding: 30px;
  position: relative;
}

.yearwrapper {
  position: relative;
  width: 420px;
}

.graphkey {
  position: absolute;
  font-size: 1.5rem;
  color: blue;
}

.graphkey.x {
  top: -10px;
  left: 30px;
}

.graphkey.y {
  transform: rotate(-90deg);
  -webkit-font-smoothing: antialiased;
  top: 50px;
  left: -60px;
}

.label {
  position: absolute;
  left: 0px;
  top: -3px;
  font-size: 12px;
  line-height: 12px;
}

.year {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.week {
  height: 5px;
  width: 5px;
  background-color: transparent;
  margin: 1px;
}

.active--false {
  background-color: lightgrey;
}

.active--true {
  background-color: skyblue;
}

